body {
	margin:0;
	font-family:'Arial';
	font-size:15px;
}

.top {
	height:80px;
	background-color:#f1dc3d;
}

.innerTop {
	width:100%;
	max-width:1080px;
	height:80px;
	background-color:#f1dc3d;
	margin:auto;
}

.innerRight {
	margin:auto;
	height:80px;
	float:right;
	background-color:#f1dc3d;
}

.innerRight > img {
	width:120px;
	height:75px;
}

.topMenu {
	height:50px;
	background-color:white;
	box-shadow: 4px 4px 6px black;
	background-color:black;
}

.topMenu ul {
	margin:0;
}

.topMenu ul > li{
	padding:15px;
	list-style:none;
	float:left;
	background-color:black;
}

.topMenu ul > li > a {
	text-decoration: none;
	color:white;
}


.topMenuLeft {
	max-width:1080px;
}

.topMenuLeft > ul > li:hover {
	background-color:#f1dc3d;
}

.apresentation {
	height:300px;
	background-color:white;
	color:white;
}

.innerApresentation {
	height:300px;
	max-width:1080px;
	background-color:white;
	margin:auto;
}

.innerApresentation > img {
	height:300px;
	width:250px;
}

.innerApresentationText {
	font-family:'Cambria';
	text-shadow:3px 3px 2px black;
	color:#f1dc3d;
	font-size:25px;
	float:right;
}

.innerApresentationParagraph {
	font-size:17px;
	color:black;
	text-shadow:none;
}
