body {
	margin:0;
	font-family:'Arial';
	font-size:15px;
}

.top {
	height:80px;
	background-color:#f1dc3d;
}

.innerTop {
	width:100%;
	max-width:1080px;
	height:80px;
	background-color:#f1dc3d;
	margin:auto;
}

.innerRight {
	float:right;
	height:80px;
	background-color:#f1dc3d;
}

.innerRight > img {
	width:120px;
	height:75px;
}

.topMenu {
	background-color:black;

}

.topMenuInner {
	margin:auto;
	max-width:1080px;
	height:50px;
}

.topMenuPosition {
	max-width:540px;
}

.topMenuPosition > ul {
	position:relative;
	right:40px;
	margin:0px;

}

.topMenuPosition > ul > li {
	padding:16px;
	margin-right:-5px;
	list-style:none;
	display:inline-block;
}

.topMenuPosition > ul > li > a {
	text-decoration:none;
	color:white;
}

.topMenuPosition > ul > li:hover {
	background-color:#f1dc3d;
}

.apresentation1 {
	height:300px;
	background-color:white;
}

.innerApresentation1 {
	height:300px;
	max-width:1080px;
	margin:auto;
}

.innerApresentationLeft1 {
	height:300px;
	max-width:540px;
}

.innerApresentationLeft1 > img {
	height:327px;
	width:280px;
}

.innerApresentationRight1 {
	max-width: 540px;
	height:300px;
	position: relative;
	float:right;
	bottom:300px;
	text-align:center;
	font-family:'Candara';
}

.innerApresentationRight1 > h1 {
	border:1px solid black;;
	box-shadow:2px 2px 4px black;
	background-color:#f1dc3d;
}

.innerApresentationRight1 > p {
	font-size:18px;
}

.innerApresentationRight1 > a {
	text-decoration: none;
	color:black;
}

.innerApresentationRight1 > a > p {
	font-family:'Calibri';
	color:white;
	font-size:15px;
	padding:10px;
	border:1px solid black;
	font-weight: bold;
	border-radius:10px;
	background-color:black;
	color:white;
	display: inline-block;
	box-shadow:1px 1px 2px grey;
}

.innerApresentationRight1 > a > p:hover {
	background-color:#f1dc3d;
	color:black;
}

.apresentation2 {
	background-color:#f1dc3d;
	height:400px;
}

.innerApresentation2 {
	position: relative;
	max-width:1080px;
	height:400px;
	margin:auto;
}

.innerApresentationLeft2 {
	max-width:540px;
	height:400px;
}

.innerApresentationLeft2 > h1 {
	color:white;
	font-family:'Cambria';
	font-size:40px;
	text-shadow:2px 2px 4px black;
	position: relative;
	top:150px;
}

.innerApresentationRight2 {
	max-width:540px;
	height:400px;
	position:relative;
	left:540px;
	bottom:400px;
}

.innerApresentationRight2 > img {
	width:400px;
	height:400px;
}